
.popover[x-placement^=right] .arrow::after {
  border-right-color: #3E3D32;
}
.popover[x-placement^=left] .arrow::after {
  border-left-color: #3E3D32;
}
.popover[x-placement^=bottom] .arrow::after {
  border-bottom-color: #3E3D32;
}
.popover[x-placement^=top] .arrow::after {
  border-top-color: #3E3D32;
}

.toastError {
  background: #CF4649!important;
}

.toastSuccess {
  background: #678830!important;
}

